.footer {
  padding-bottom: 162px;
}

.footer-content {
  padding: 52px 52px;
  border-radius: 20px;
  background-color: var(--white);

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 90px;
    gap: 62px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    color: var(--black);
  }

  &__links {
    display: flex;
  }

  &__columns {
    display: flex;
    gap: 99px;
    margin-right: 53px;
  }

  &__column {

    display: flex;
    flex-direction: column;
    gap: 28px;

    &-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: var(--dark);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-item:first-child {
      margin-bottom: 6px;
    }
  }

  &__nav {
    margin-right: 103px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }

  &__connection {
    width: 218px;
    margin-left: auto;

    &-tel {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 22px;
      line-height: 127%;
      color: var(--green);
    }

    &-social {
      @include flex-betweenCenter;
      gap: 4px;
      margin-bottom: 18px;
    }

    &-item {
      &__link {
        @include flex-center;
        gap: 8px;
        padding: 8px 12px;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--dark);
        background-color: var(--background);
      }
    }
  }

  &__address {
    display: flex;
    align-items: self-start;
    gap: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    color: var(--dark);

    & svg {
      min-width: 16px;
    }
  }

  &__bottom {
    @include flex-betweenCenter;

    &-descr {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: var(--gray-3);
    }

    &-links {
      @include flex-center;
      gap: 24px;
    }
  }
}


@media (max-width: 1100px) {

  .footer-content {

    &__top {
      flex-direction: column;
      gap: 20px;
    }

    &__nav {
      margin-right: 0;
    }
  }

}

@media (max-width: 768px) {
  .footer-content {
    padding: 24px 20px;

    &__top {
      margin-bottom: 32px;
    }

    &__links {
      flex-direction: column;
      gap: 32px;
    }

    &__connection {
      width: 100%;

      &-social {
        @include grid-ColumnsEqually(2, 8px);
      }
    }

    &__bottom {

      &-descr.off {
        display: none;
      }

      &-links {
        flex-direction: column;
        align-items: start;
        gap: 2px;
      }
    }
  }
}

@media (max-width: 450px) {

  .footer {
    padding-bottom: 15px;

    &-content {

      &__top {
        gap: 47px;
      }

      &__links {
        gap: 29px;
      }

      &__columns {
        gap: 62px;
        margin-right: 0;
      }

      &__column {
        gap: 32px;
      }

      &__address {
        font-size: 14px;
        line-height: 129%;
      }

    }
  }

}
