::-webkit-scrollbar {
  width: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--background);
}

img {
  max-width: 100%;
}

a {
  color: var(--black);
}

button {
  font-family: var(--font-family)
}

.btn-global {
  @include flex-center;
  gap: 8px;
  padding: 10px 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  border: 1px solid var(--green);
  border-radius: 8px;
  color: var(--white);
  background-color: var(--green);
  @include transition;

  &:hover {
    color: var(--green);
    background-color: var(--white);
  }
}

.main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: var(--black);
}

.sectio-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--black-2);
}

.main-descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: var(--black-2);
}

@media (max-width: 768px) {
  .main-title {
    font-size: 28px;
  }
}
